#login-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#login-container input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
}

#login-container button {
  height: 48px;
  background: #7159c1;
  color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

#login-container .register {
  background: #7cb342;
}

#login-container button:hover {
  opacity: 0.8;
}

#login-container p {
  font-size: 16px;
  text-align: center;
  color: red;
}
